.navbar {
    background: none;
    border: none;
    border-radius: 0;
    height: 100px;
    padding: 30px;
}

.fixed {
    position: fixed;
    width: 100%;
    padding: 10px;
    height: 70px;
    top: 0;
    padding-top: 10px;
    box-shadow: 0px 0px 5px #d6d6c2;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fixedfont {
    font-size: 15pt;
    color: black;
    padding: 0px;
    bottom: 30px;
}

.fixedfont:hover {
    color: white;
    background-color: black;
}

.navbar .container-fluid {
    padding: 30px;
}

.fixedlogo {
    margin-top: -35px;
}

#brand li a {
    color: white;
    font-family: 'Bahiana', cursive;
    font-size: 25pt;
}

#brand li a:hover {
    background-color: white;
    color: black;
}

#intro-text {
    position: relative;
    font-family: 'Bahiana', cursive;
    top: 10vh;
    color: white;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#intro-text img {
    width: 30%;
}

#intro-text h1 {
    font-size: 60pt;
}

.navbar-logo {
    height: 30px;
}

.intro-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: black;
}

#where, #who-are-we {
    position: relative;
    width: 100%;
    height: 110vh;
    top: 80vh;
    background-image: url("./images/about.jpg");
    background-repeat: round;
    background-attachment: fixed;
    text-align: center;
}

#where {
    background-image: url("./images/more.jpg");
    height: 120vh;
}

#where .text img {
    height: 200px;
}

#how-it-works, #team, #postcard {
    position: relative;
    width: 100%;
    height: auto;
    top: 80vh;
    text-align: center;
    background-color: #E27A3F;
}

#how-it-works {
    padding-bottom: 50px;
}

#postcard {
    background-image: url("./images/postcard.png");
    background-repeat: round;
    background-attachment: fixed;
    height: 120vh;
}

#postcard .filler {
    background-color: #DF5A49;
}

#who-are-we .filler {
    background-color: #45B29D;
}

#where .filler {
    background-color: #EFC94C;
}

#how-it-works .filler {
    background-color: #E27A3F;
}

#team .filler {
    background-color: #6D4C41;
}

#team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #6D4C41;
}

.person {
    width: 30%;
    padding: 20px;
    text-align: center;
}

.person-image img {
    border-radius: 50%;
    width: 80%;
}

.person-text h3{
    font-family: 'Bahiana', cursive;
    font-size: 30pt;
    color: white;
}

.person-text p{
    font-family: 'Lobster', cursive;
    font-size: 15pt;
    color: white;
}

#footer {
    position: relative;
    width: 100%;
    height: 60vh;
    top: 80vh;
    padding: 40px;
    padding-top: 10px;
    text-align: center;
    background-color: #334D5C;
    font-family: 'Lobster', cursive;
    font-size: 20pt;
    color: white;
}

#footer a {
    margin: 15px;
}

#how-it-works .image img {
    padding-top: 50px;
    width: 80%;
}

#where .text, #who-are-we .text, #postcard .text {
    width: 40%;
    float: right;
    text-align: center;
    font-family: 'Sansita', sans-serif;
    padding-right: 100px;
    font-size: 15pt;
    padding-top: 50px;
    color: black;
}

#postcard .text {
    float: right;
    padding-right: 50px;
    position: relative;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    right: 50px;
    top: 80px;
    box-shadow: 5px 5px 5px #B0BEC5;
}

#where .text {
    float: left;
    padding-left: 100px;
}

.filler {
    width: 100%;
    color: white;
    position: relative;
    background-color: white;
    padding: 40px;
    padding-top: 40px;
    text-align: center;
    font-family: 'Sansita', sans-serif;
    font-size: 40pt;
}

.intro-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    #how-it-works .image img {
        padding-top: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    body {
        width: 100vw;
    }
    .navbar {
        height: 50px;
        padding: 10px;
    }
    .navbar-header {
        width: 100%;
        height: 100%;
    }
    .fixed {
        padding: 5px;
        padding-left: 15px;
        height: 30px;
        box-shadow: 0px 0px 2px #d6d6c2;
    }
    .navbar-toggle {
        padding: 5px;
        position: relative;
        right: 0;
        left: 0;
        top: 8px;
        bottom: 0;
        margin: auto;
    }
    .fixedfont {
        font-size: 15pt;
        bottom: 0px;
    }
    #bs-example-navbar-collapse-1 {
        float: right;
        background-color: #334D5C;
        top: 0px;
    }
    .navbar .container-fluid {
        padding: 0px;
    }
    .fixedlogo {
        margin-top: -5px;
    }
    #brand li a {
        font-size: 15pt;
    }
    #intro-text {
        top: 20vh;
    }
    #intro-text img {
        width: 50%;
    }
    .navbar-logo {
        height: 20px;
    }
    .filler {
        padding: 20px;
        padding-top: 10px;
        font-size: 20pt;
    }
    #where, #who-are-we {
        height: 120vh;
        top: 60vh;
        background-image: url("./images/about-phone.jpg");
        text-align: center;
    }
    #where {
        background-image: url("./images/more-phone.jpg");
        height: 140vh;
    }
    #how-it-works, #team, #postcard {
        top: 60vh;
    }
    #how-it-works .image {
        padding-bottom: 20px;
        height: 160vh;
        width: 100%;

    }
  
    #postcard {
        background-image: url("./images/postcard-phone.jpg");
        height: 120vh;
    }
    #postcard .filler {
        background-color: #DF5A49;
    }
    #who-are-we .filler {
        background-color: #45B29D;
    }
    #where .filler {
        background-color: #EFC94C;
    }
    #how-it-works .filler {
        background-color: #E27A3F;
    }
    #team .filler {
        background-color: #6D4C41;
    }
    #team {
        width: 100%;
    }
    .person {
        position: relative;
        width: 45%;
        padding: 10px;
    }
    .person-image img {
        border-radius: 50%;
        width: 90%;
    }
    .person-text h3{
        font-family: 'Bahiana', cursive;
        font-size: 15pt;
        color: white;
    }

    .person-text p{
        font-family: 'Lobster', cursive;
        font-size: 12pt;
        color: white;
    }

    #footer {
        font-size: 15pt;
        top: 60vh;
        height: 80vh;
    }
    #where .text, #who-are-we .text, #postcard .text {
        width: 90%;
        float: none;
        text-align: center;
        padding: 15px;
        font-size: 12pt;
        padding-top: 20px;
        position: relative;
        margin: 20px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: black;
        background-color: rgba(245, 238, 238, 0.7);
        border-radius: 5px;
        margin: 10px;
    }
    #postcard .text {
        float: none;
        padding-right: 10px;
        position: relative;
        padding: 10px;
        background-color: rgba(245, 238, 238, 0.7);
        border-radius: 5px;
        right: 0px;
        top: 10px;
        box-shadow: 0px 0px 0px;
    }
    #where .text {
        float: none;
        margin-top: 5%;
        padding-left: 15px;
    }
    .intro-bg__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        object-fit: cover;
        opacity: 0.65;
    }
}
