.navbar{
  background: none;
  border: none;
  border-radius: 0;
  height: 100px;
  padding: 30px;
}

.fixed{
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 10px;
  height: 50px;
  top: 0;
  padding-top: 0;
  z-index: 100;
}

.fixed a{
  font-size: 15pt !important;
  top: -30px;
}

 .fixed .container-fluid .navbar-header .navbar-brand {
   top: -50px;
 }

.navbar .container-fluid{
  padding: 30px;
}

.navbar-brand{
  color: white !important;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 30pt;
}

#intro-text{
position:relative;
font-family: 'Bahiana', cursive;
top:25vh;
color: white;
right:0;
bottom:0;
left:0;
text-align: center;
}

#intro-text h1{
  font-size: 60pt;
}

.navbar li a{
  color: white !important;
  font-family: 'Lobster', cursive;
  font-size: 15pt;

}

.intro-video {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background-color: black;
}

#how-it-works{
  position: relative;
  background-color: white;
  width: 100%;
  height: 100px;
  top: 100vh;
}

.intro-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.65;
}
